@using Microsoft.AspNetCore.Components.Routing
@* The App component configures routing for Razor components. Use the
   Router to locate pages in the assembly and supply a default layout.
   The typeof syntax must be wrapped in @ to avoid razor parsing errors. *@
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Monitoring.Web.Shared.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(Monitoring.Web.Shared.MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
